<footer class="footer">
    <!-- Container -->
    <div class="kt-container-fixed">
        <div class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5">
            <div class="flex order-2 md:order-1 gap-2 font-normal text-sm">
                <span class="text-muted-foreground">
                    2025©
                </span>
                <a class="text-secondary-foreground hover:text-primary" href="https://keenthemes.com">
                    Highstakes - Pushing Limits, Connecting Dots
                </a>
            </div>
        </div>
    </div>
    <!-- End of Container -->
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/public/assets/js/core.bundle.js"></script>
<script src="/public/assets/vendors/ktui/ktui.min.js"></script>
<script src="/public/assets/vendors/apexcharts/apexcharts.min.js"></script>
<!-- custom scripts -->
<script>
    // $('.kt-switch').trigger('click');
</script>
</body>
</html>
